<!DOCTYPE html>
<html lang="en" ng-app="ToDoApp">
<head>
		<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>
		 Ingreso de usuarios  Mis Tareas
	</title>

		<?php echo $this->Html->script(
			array(

				'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js',
				));
		?>

		<?php echo $this->Html->css(
			array(
			'bootstrap.min.css',
			'login-styles'

		));
		 ?>

</head>
<body ng-controller="TodoController">
<div class="container">


<?php echo $content_for_layout; ?>

</body>
</html>
